/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 25px;
  font-family: Nurom;
  font-weight: Bold;
}

/* MENTIONS LEGALES */

.coordonnees {
    width: 1920px;
    height: 74px;
    padding-left: 168px;
    padding-right: 353px;
    background-color: rgba(28, 51, 87, 0.80);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.numero-telephone {
    width: 268px;
    height: auto;
    font-weight: 700;
    line-height: 33px;
    color: white;
}

.adresse {
    width: 642px;
    height: auto;
    margin-left: 50px;
    font-weight: 700;
    line-height: 33px;
    color: white;
}

.linkedin {
    width: 60px;
    height: 60px;
    margin-left: 240px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.twitter {
    width: 60px;
    height: 60px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.conditions_utilisations {
    width: 1920px;
    height: 176px;
    padding-left: 183px;
    padding-right: 384px;
    background-color: black;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.mentions_legales {
    width: 1920px;
    height: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}