/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 23px;
}

/* NOS OFFRES */

.titre {
  width: 100%;
  color: rgba(77, 77, 77, 1);
  position: absolute;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
  top: 50px;
}

.sous-titre {
  width: 100%;
  padding: 0 350px;
  color: rgba(77, 77, 77, 1);
  position: absolute;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  top: 140px;
}

.conteneur-principal {
  width: 100%;
}

.fiche-offre-1, .fiche-offre-2, .fiche-offre-3 {
  width: 500px;
  height: 640px;
  background: rgba(28, 51, 87, 1);
  opacity: 1;
  position: absolute;
  border-radius: 20px;
}

.fiche-offre-1 {
  top: 260px;
  left: 170px;
}

.fiche-offre-2 {
  top: 260px;
  left: 710px;
}

.fiche-offre-3 {
  top: 260px;
  left: 1250px;
}

.img-1, .img-2, .img-3 {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
}

.img-1 {
  width: 230px;
  height: 230px;
  background: url("/images/chowchow-white.png");
  background-size: cover;
  top: 100px;
  left: 135px;
}


.img-2 {
  width: 254px;
  height: 254px;
  background: url("/images/golden-white.png");
  background-size: cover;
  top: 88px;
  left: 123px;
}

.img-3 {
  width: 266px;
  height: 266px;
  background: url("/images/chihuahua-ico-white.png");
  background-size: cover;
  top: 82px;
  left: 117px;
}

.nom-offre, .titre-offre, .texte-offre {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  opacity: 1;
}

.nom-offre {
  margin-top: 30px;
  width: 500px;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 28px;
  text-align: center;
}

.titre-offre, .texte-offre {
  width: 440px;
  left: 30px;
  font-family: Nurom;
  font-weight: Bold;
  text-align: left;
  line-height: 130%;
}

.titre-offre {
  top: 360px;
}

.texte-offre {
  top: 445px;
  font-size: 18px;
}

.texte-offre ul {
  margin: 0 10px;
  letter-spacing: -0.45px;
}

.duree-offre {
  margin-left: 30px;
}

.bouton {
  width: 180px;
  height: 50px;
  background: rgba(232, 204, 2, 1);
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 300px;
  border-radius: 12px;
}

.texte-bouton {
  margin-top: 15px;
  width: 180px;
  color: rgba(28, 51, 87, 1);
  position: absolute;
  font-family: Nurom;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}