/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 22px;
}

h3 {
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}

p {
  font-family: Nurom;
  font-weight: Bold;
  font-size: 14px;
  color: white;
}

hr {
  width: 710px;
  height: 1px;
  left: 30px;
  position: absolute;
  border-color: #DDE0E6;
}

.hr-1 {
  top: 230px;
}

.hr-2 {
  top: 460px;
}

/* NOS PROJETS */

.titre {
  width: 100%;
  color: black;
  position: absolute;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
  top: 50px;
}

.fiche-projet-1, .fiche-projet-2 {
  width: 770px;
  height: 690px;
  left: 170px;
  top: 160px;
  position: absolute;
  background-color: rgba(28, 51, 87, 1);
  border-radius: 20px;
}

.fiche-projet-1 {
  left: 170px;
}

.logo-orange {
  width: 394px;
  height: auto;
  left: -27px;
  top: -34px;
  position: absolute;
}

.logo-oreal {
  width: 376px;
  height: auto;
  left: -18px;
  top: 160px;
  position: absolute;
}

.logo-lepoool {
  width: 300px;
  height: auto;
  left: 20px;
  top: 505px;
  position: absolute;
}

.fiche-projet-2 {
  left: 980px;
}

.logo-total {
  width: 260px;
  height: auto;
  left: 40px;
  top: 70px;
  position: absolute;
}

.logo-mds {
  width: 260px;
  height: auto;
  left: 40px;
  top: 255px;
  position: absolute;
}

.logo-french-tech {
  width: 270px;
  height: auto;
  left: 35px;
  top: 495px;
  position: absolute;
}

.texte-projet-1, .texte-projet-2, .texte-projet-3 {
  width: 400px;
  height: auto;
  left: 340px;
  position: absolute;
  line-height: 100%;
}

.texte-projet-1 {
  top: 50px;
}

.texte-projet-2 {
  top: 280px;
}

.texte-projet-3 {
  top: 510px;
}