/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 38px;
  font-family: Nurom;
  font-weight: Bold;
  background-image: url("/images/notre_mission.png");
  background-size: 1920px 940px;
  background-repeat: no-repeat;
}

/* NOTRE MISSION */

.filtre-image {
    width: auto;
    height: 940px;
    background-color: rgba(28, 51, 87, 0.80);
}

.bloc-texte {
    width: 791px;
    height: 940px;
    position: absolute;
    background-color: rgba(15, 28, 48, 0.3);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.titre-mission {
    width: 655px;
    height: 87px;
    left: 68px;
    top: 85px;
    position: absolute;
    font-size: 60px;
    line-height: 60px;
    color: white;
    font-family: Vice City Sans;
    font-weight: Regular;
}

.sous-titre-mission {
    width: 655px;
    height: 193px;
    left: 68px;
    top: 195px;
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    line-height: 53px;
    color: rgba(232, 204, 2, 1);
}

.texte-mission {
    width: 655px;
    height: 452px;
    left: 68px;
    top: 409px;
    position: absolute;
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
    color: white;
}