/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-size: 30px;
    font-family: Nurom;
    font-weight: Bold;
    background-color: rgba(221, 221, 221, 0.30);
}

img {
    width: 204px;
    height: 205px;
    position: absolute;
    border-radius: 102px;
}

/* QUI NOUS SOMMES */

.titre {
    width: 100%;
    top: 50px;
    position: absolute;
    font-size: 60px;
    text-align: center;
    color: rgba(51, 51, 51, 1);
    font-family: Vice City Sans;
    font-weight: Regular;
}

.pers-1, .pers-2, .pers-3, .pers-4, .pers-5, .pers-6 {
    height: 50px;
    position: absolute;
}

.pers-1, .pers-2, .pers-3 {
    top: 450px;
}

.pers-4, .pers-5, .pers-6 {
    top: 791px;
}

.pers-1 {
    width: 273px;
    left: 384px;
}

.pers-2 {
    width: 286px;
    left: 817px;
}

.pers-3 {
    width: 231px;
    left: 1285px;
}

.pers-4 {
    width: 333px;
    left: 354px;
}

.pers-5 {
    width: 311px;
    left: 804px;
}

.pers-6 {
    width: 329px;
    left: 1236px;
}

.img-aur, .img-jer, .img-cam, .img-dav, .img-pau, .img-cor {
    top: -233px;
}

.img-aur {
    left: 34px;
}

.img-jer {
    left: 41px;
}

.img-cam {
    left: 13px;
}

.img-dav {
    left: 64px;
}

.img-pau {
    left: 54px;
}

.img-cor {
    left: 62px;
}

.nom-identite {
    left: 33px;
    top: 3px;
    position: absolute;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: rgba(108, 108, 108, 1);
}