/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css?family=Vice+City+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nurom&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/* GENERAL */

* {
  margin: 0px;
  padding: 0px;
  /* font-family: Roboto; */
}

h1 {
  font-size:28px;
}

h2 {
  color:black;
  text-align: center;
  margin: 50px auto;
  font-family: 'vice city sans',sans-serif;
  font-size:60px;
}

a {
  color:black;
  text-decoration: none;
}

strong {
  color:#E8CC02;
}


/* PAGE HOME */


/* NAV-BAR */

.header {
  overflow: hidden;
  background-color: #1C3357;
  padding: 10px 10px;
  max-height: 60px;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header p {
  font-size: 18px;
}

.header a {
  float: left;
  text-align: center;
  margin-right: 18px;
  text-decoration: none;
  font-size: 27px;
  padding: 12px;
}

.header img.logo-wheeldogs {
  float:left;
  padding-right: 30px;
  padding-left: 30px;
}

.header a.boutton-menu {
  color: white;
  font-weight: bold;
}

.header a.boutton-menu:hover {
  color: #E8CC02;
}

.header a.boutton-contact {
  border-radius:45px;
  color:#1C3357;
  background-color:#E8CC02;
  font-weight: bold;
  margin-right: 80px;
  border:3px solid #E8CC02;
}

.header a.boutton-contact:hover {
  border-radius:45px;
  background-color:#1C3357;
  color:#E8CC02;
  border:3px solid #E8CC02;
}

.header a.boutton-blog {
  border-radius:45px;
  background-color:#1C3357;
  color:#E8CC02;
  border:3px solid #E8CC02;
  padding-left:20px;
  padding-right:20px;
  margin-right: 30px;
  font-weight: bold;
}

.header a.boutton-blog:hover {
  border-radius:45px;
  background-color:#E8CC02;
  color:#1C3357;
}

.header-left {
  color:white;
  width: 750px;
  margin: auto;
  font-family: Roboto;
  font-weight: bold;
}

.header-right {
  float: right;
  margin: auto;
  font-family: Roboto;
  font-weight: Medium;
}


/* ACCUEIL */

.accueil {
  color:white;
  width: 100%;
  min-height: 980px;
  height: 100%; 
  overflow: hidden;
  background-image: url("/images/accueil.png");
  background-size: 1920px 980px;
  background-repeat: no-repeat;
  background-position-y: 80px;
  background-position-x: center;
}

.filtre-accueil {
  float:right;
  padding: 20px;
  min-height:640px;
  height: 100%;
  width: 791px;
  background: rgba(28, 51, 87, 0.7);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.accueil-image {
  position: absolute;
  width: 1920px;
  height: 982px;
  left: 0px;
  top: 100px;
}

.accueil h2 {
  font-size: 105px;
  text-align: left;
}

.accueil-text {
  font-size: 50px;
  min-height:740px;
  height:100%;
  width: 633px;
  margin:150px auto 50px;
  font-family: Nurom;
  font-weight: bold;
  line-height: 67px;
}

.accueil h2{
  color:#E8CC02;
}

@media screen and (max-width: 1000px) {
  .filtre-accueil {
    width: auto;
  }

  .accueil-text {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .accueil h2 {
    font-size: 50px;
  }

  .accueil-text {
    font-size: 30px;
    margin: 200px auto 0;
    line-height: 50px;
  }
}


/* EXPERTISE */

.expertise {
  color:white;
  width: 100%;
  min-height: 940px;
  height: auto; 
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.expertise h3 {
  font-size: 36px;
  font-family: Nurom;
  font-weight: bold;
  line-height: 53px;
}

.expertise-1 h3 {
  padding-top:30px;
}

.expertise-2 h3 {
 padding-top: 325px;
}

.expertise-3 h3 {
  padding-top:250px;
}

.expertise-4 h3 {
  padding-top:490px;
}

.expertise-xx {
  text-align: center;
  margin:30px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  width: 78%;
  height: 600px;
  margin-top: -50px;
}

.filtre-expertise {
  background:rgba(28, 51, 87, 0.4);
  width: 100%;
  height: 100%;
}

.expertise-1 {
  height:100%;
  width: 355px;
  background-image: url("/images/strategie.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.expertise-1:hover {
  background-image: url("/images/strategie.png");
}

.expertise-2 {
  height:100%;
  width: 355px;
  background-image: url("/images/gestion.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.expertise-3 {
  height:100%;
  width: 355px;
  background-image: url("/images/business.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.expertise-4 {
  height:100%;
  width: 355px;
  background-image: url("/images/management.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .expertise-xx {
    height: 100%;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .expertise-1, .expertise-2, .expertise-3, .expertise-4 {
    height: 600px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px) {
  .expertise h2 {
    font-size: 35px;
  }
}


/* NOTRE MISSION */

.notre-mission {
  width: 100%;
  height: 100%;
  min-height: 940px;
  overflow: hidden;
  font-size: 38px;
  font-family: Nurom;
  font-weight: Bold;
  background-image: url("/images/notre_mission.png");
  background-size: 1920px 940px;
  background-repeat: no-repeat;
  background-position: center;
}

.notre-mission .filtre-image {
  width: auto;
  height: 940px;
  background-color: rgba(28, 51, 87, 0.80);
}

.notre-mission .bloc-texte {
  width: 791px;
  height: 940px;
  position: absolute;
  background-color: rgba(15, 28, 48, 0.3);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.notre-mission .titre-mission {
  width: 655px;
  height: 87px;
  left: 68px;
  top: 85px;
  position: absolute;
  font-size: 60px;
  line-height: 60px;
  color: white;
  font-family: Vice City Sans;
  font-weight: Regular;
}

.notre-mission .sous-titre-mission {
  width: 655px;
  height: 193px;
  left: 68px;
  top: 195px;
  position: absolute;
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  color: rgba(232, 204, 2, 1);
}

.notre-mission .texte-mission {
  width: 655px;
  height: 452px;
  left: 68px;
  top: 409px;
  position: absolute;
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .notre-mission {
    width: 100%;
    height: auto;
  }

  .notre-mission .filtre-image {
    width: 100%;
  }

  .notre-mission .bloc-texte {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .notre-mission .titre-mission {
    width: auto;
    font-size: 45px;
    margin-top: 50px;
  }

  .notre-mission .sous-titre-mission {
    width: 75%;
    font-size: 28px;
    margin-top: 50px;
  }

  .notre-mission .texte-mission {
    width: 75%;
    height: auto;
    margin-top: 90px;
    font-size: 20px;
    line-height: 30px;
  }
}


/* NOS OFFRES */

.nos-offres {
  width: 100%;
  height: 100%;
  min-height: 940px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  background-color: rgba(28, 51, 87, 0.15);
}

.conteneur-tete {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.nos-offres .titre {
  width: 86%;
  color: rgba(77, 77, 77, 1);
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
  margin-top: 50px;
}

.nos-offres .sous-titre {
  width: 62%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgba(77, 77, 77, 1);
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
  margin-top: 140px;
}

.conteneur-principal {
  width: 86%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fiche-offre-1, .fiche-offre-2, .fiche-offre-3 {
  width: 500px;
  height: 640px;
  background: rgba(28, 51, 87, 1);
  opacity: 1;
  position: relative;
  border-radius: 20px;
}

.img-1, .img-2, .img-3 {
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  position: absolute;
}

.img-1 {
  width: 230px;
  height: 230px;
  background: url("/images/chowchow-white.png");
  background-size: cover;
  top: 100px;
  left: 135px;
}


.img-2 {
  width: 254px;
  height: 254px;
  background: url("/images/golden-white.png");
  background-size: cover;
  top: 88px;
  left: 123px;
}

.img-3 {
  width: 266px;
  height: 266px;
  background: url("/images/chihuahua-ico-white.png");
  background-size: cover;
  top: 82px;
  left: 117px;
}

.nom-offre, .titre-offre, .texte-offre {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  opacity: 1;
}

.nom-offre {
  margin-top: 30px;
  width: 500px;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 28px;
  text-align: center;
}

.titre-offre, .texte-offre {
  width: 440px;
  left: 30px;
  font-family: Nurom;
  font-weight: Bold;
  text-align: left;
  line-height: 130%;
}

.titre-offre {
  top: 360px;
  font-size: 23px;
}

.texte-offre {
  top: 445px;
  font-size: 18px;
}

.texte-offre ul {
  margin: 0 10px;
  letter-spacing: -0.45px;
  list-style: none;
}

.duree-offre {
  margin-left: 30px;
}

.bouton {
  width: 180px;
  height: 50px;
  background: rgba(232, 204, 2, 1);
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 300px;
  border-radius: 12px;
}

.texte-bouton {
  margin-top: 15px;
  width: 180px;
  color: rgba(28, 51, 87, 1);
  position: absolute;
  font-family: Nurom;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .nos-offres .sous-titre {
    width: 80%;
    margin-bottom: 30px;
  }

  .fiche-offre-1, .fiche-offre-2, .fiche-offre-3 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .nos-offres .titre {
    font-size: 35px;
  }

  .nos-offres .sous-titre {
    font-size: 22px;
  }

  .conteneur-principal {
    width: auto;
    height: auto;
  }
}


/* NOS PROJETS */

.nos-projets {
  width: 100%;
  height: 100%;
  min-height: 940px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  background-color: white;
}

.titre {
  width: 100%;
  color: black;
  position: absolute;
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
  margin-top: 50px;
}

.fiches-projets {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  position: relative;
  margin-top: 160px;
}

.fiche-projet-1, .fiche-projet-2 {
  width: 770px;
  height: 690px;
  position: relative;
  background-color: rgba(28, 51, 87, 1);
  border-radius: 20px;
}

/* .fiche-projet-1 {
  left: 170px;
} */

.logo-orange {
  width: 394px;
  height: auto;
  left: -27px;
  top: -34px;
  position: absolute;
}

.logo-oreal {
  width: 376px;
  height: auto;
  left: -18px;
  top: 160px;
  position: absolute;
}

.logo-lepoool {
  width: 300px;
  height: auto;
  left: 20px;
  top: 505px;
  position: absolute;
}

/* .fiche-projet-2 {
  left: 980px;
} */

.logo-total {
  width: 260px;
  height: auto;
  left: 40px;
  top: 70px;
  position: absolute;
}

.logo-mds {
  width: 260px;
  height: auto;
  left: 40px;
  top: 255px;
  position: absolute;
}

.logo-french-tech {
  width: 270px;
  height: auto;
  left: 35px;
  top: 495px;
  position: absolute;
}

.nos-projets hr {
  width: 710px;
  left: 30px;
  position: absolute;
  border-color: #DDE0E6;
}

.hr-1 {
  top: 230px;
}

.hr-2 {
  top: 460px;
}

.nos-projets h3 {
  font-family: Vice City Sans;
  font-weight: Regular;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}

.nos-projets p {
  font-family: Nurom;
  font-weight: Bold;
  font-size: 14px;
  color: white;
}

.texte-projet-1, .texte-projet-2, .texte-projet-3 {
  width: 400px;
  height: auto;
  left: 340px;
  position: absolute;
  line-height: 22px;
}

.texte-projet-1 {
  top: 50px;
  position: absolute;
}

.texte-projet-2 {
  top: 280px;
  position: absolute;
}

.texte-projet-3 {
  top: 510px;
  position: absolute;
}

@media screen and (max-width: 1000px) {
  .fiche-projet-1, .fiche-projet-2 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .titre {
    font-size: 35px;
  }

  .fiches-projets {
    width: auto;
    height: auto;
  }
}


/* POURQUOI WHEELDOGS */

.whydogs {
  color:white;
  width: 100%;
  min-height: 940px;
  height: 100%; 
  overflow: hidden;
  background:linear-gradient(0deg,rgba(28,51,87,0),rgba(28,51,87,1)), url(/images/chien_traineau.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.whydogstext {
  margin:0 auto;
  text-align: center;
  width: 1090px;
}

.whydogs h6 {
  font-style:normal;
  text-align: left;
  font-size: 30px;
  font-weight:50;
  line-height: normal;
  font-family: Roboto;
  font-weight: Regular;
}

.whydogs h2 {
  color:white;
  font-size: 50px;
  margin: 65px auto;
  font-family: 'vice city sans', sans-serif;
}

.filtre-sombre {
  background-color:rgba(0,138,237,0.2);
}

@media screen and (max-width: 1000px) {
  .whydogstext {
    width: 85%;
  }

  .whydogs h6 {
    font-size: 28px;
  }

  .whydogs {
    min-height: 830px;
  }
}

@media screen and (max-width: 500px) {
  .whydogs {
    min-height: 700px;
  }

  .whydogs h2 {
    margin: 35px auto;
    font-size: 35px;
  }

  .whydogs h6 {
    font-size: 18px;
  }

  .whydogstext {
    width: 80%;
  }
}


/* QUI NOUS SOMMES */

.qui-nous-sommes {
  width: 100%;
  height: auto;
  min-height: 940px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(221, 221, 221, 0.30);
}

.qui-nous-sommes img {
  width: 204px;
  height: 205px;
  margin-bottom: 20px;
  border-radius: 102px;
}

.titre-qui-nous-sommes span {
  width: 80%;
  margin-top: 50px;
  position: absolute;
  font-size: 60px;
  font-family: Vice City Sans;
  font-weight: Regular;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.prems, .derns {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
}

.prems {
  margin-top: 200px;
}

.pers-1, .pers-2, .pers-3, .pers-4, .pers-5, .pers-6 {
  width: 280px;
  height: 100%;
  text-align: center;
}

/* .img-aur, .img-jer, .img-cam, .img-dav, .img-pau, .img-cor {
  top: -233px;
} */

/* .img-aur {
  left: 34px;
}

.img-jer {
  left: 41px;
}

.img-cam {
  left: 13px;
}

.img-dav {
  left: 64px;
}

.img-pau {
  left: 54px;
}

.img-cor {
  left: 62px;
} */

.nom-identite {
  font-size: 30px;
  font-family: Nurom;
  font-weight: Bold;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: rgba(108, 108, 108, 1);
}

@media screen and (max-width: 1000px) {
  .pers-1, .pers-2, .pers-3, .pers-4, .pers-5, .pers-6 {
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 500px) {
  .titre-qui-nous-sommes span {
    font-size: 35px;
  }

  .prems {
    margin-top: 150px;
  }
}


/* PARTENAIRES */

.partenaires {
  height: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .partenaires h2 {
    font-size: 35px;
  }
}

.partenaires-xx {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  margin: 0 auto;
}

.partenaires-xx p {
  font-family: Nurom;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  width: 250px;
  height: 50px;
  justify-items: center;
}

.zoom-image {
  height: 250px;
  width: 250px;
  margin:20px auto;
}

.zoom-image:hover{   -webkit-transform:scale(1.1); /* Safari and Chrome */
  -moz-transform:scale(1.1); /* Firefox */
  -ms-transform:scale(1.1); /* IE 9 */
  -o-transform:scale(1.1); /* Opera */
   transform:scale(1.1);
}

.retour-index {
  padding-top: 120px;
  width: 100%;
  min-height: 100px;
  height: 100%; 
  overflow: hidden;
  display: flex;
}

.retour-index h2 {
  text-align: center;
}

.boutton-index {
  padding: 15px;
  color:#8D8D8D;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

.boutton-index:hover {
  color:black;
}

.block {
  width: 1200px;
  height: 100%; 
  overflow: hidden;
}

.contenu-article {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-left: 200px;
  margin-right: 200px;
  align-items:center;
}

.article {
  border-radius: 5px;
  width: 250px;
  height: 300px;
  padding: 25px;
}

.article-final {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  width: 1000px;
  height: 800px;
  padding: 25px;
  margin: 0 auto;;
}

/* MENTIONS LEGALES */

.coordonnees {
  width: 100%;
  height: auto;
  min-height: 74px;
  background-color: rgba(28, 51, 87, 0.80);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
  font-family: Nurom;
  font-weight: bold;
  font-weight: 700;
  line-height: 33px;
  color: white;
}

.telephone-adresse {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.liens-sociaux {
  width: 8%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* .twitter {
  width: 60px;
  height: 60px;
  margin-left: 21px;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */

.conditions_utilisations {
  width: 100%;
  height: auto;
  min-height: 176px;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.mentions_legales {
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: Nurom;
  font-weight: bold;
  line-height: 28px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .telephone-adresse {
    justify-content: space-evenly;
    padding: 15px 0;
  }

  .adresse {
    padding-top: 5px;
  }

  .liens-sociaux {
    width: 18%;
  }

  .mentions_legales {
    width: 50%;
    font-size: 16px;
    padding: 15px 0;
  }
}

@media screen and (max-width: 500px) {
  .telephone-adresse {
    width: 70%;
    font-size: 18px;
  }

  .liens-sociaux {
    width: 35%;
  }

  .conditions_utilisations {
    padding: 15px 0;
  }

  .mentions_legales {
    width: 100%;
    padding: 0 20px;
  }
}


/* BLOG*/
.retour-index {
  padding-top: 120px;
  width: 100%;
  min-height: 100px;
  height: 100%; 
  overflow: hidden;
  display: flex;
}

.boutton-index {
  padding: 15px;
  color:#8D8D8D;
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}
.boutton-index:hover {
  color:black;
}

.contenu-article {
  width: 100%;
  height: 100%; 
  overflow: hidden;
  display: inline-flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  
  
}
.conteneur-article {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  margin:25px;

}

.article-final {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  width: 1000px;
  height: 800px;
  padding: 25px;
  margin: 0 auto;
  
}
@media screen and (max-width: 1000px) {
  .article-final {
    width: 82%;
  }
}
.block-titre {
  padding-top: 100px;
  width: 100%;
  min-height: 50px;
  height: 100%; 
  overflow: hidden;
  
}
.block-titre h2 {
  color:#1C3357;
}

.dernier-article {
  width: 100%;
  min-height: 300px;
  height: 100%; 
  overflow: hidden;
  background-image:url(/blog/images/bateau.jpg);
  background-size: cover;
  border-top: 6px solid #1C3357;
  border-bottom: 6px solid #1C3357;
  
}

.populaire-article {
  width: 100%;
  min-height: 300px;
  height: 100%; 
  overflow: hidden;
  background-image:url(/blog/images/Baleine.jpg);
  background-size: cover;
  border-top: 6px solid #1C3357;
  border-bottom: 6px solid #1C3357;
  
}

.titre-gauche {
  font-size:30px;
  font-weight: bold;
  padding-left: 2em;
  padding-bottom:1em;
  color:#1C3357;
}
.titre-centre {
  text-align: center;
  color:#1C3357;
  font-size:30px;
  font-weight: bold;
}

.categorie-article {
  width: 100%;
  min-height: 300px;
  height: 100%; 
  overflow: hidden;
  
}

.categorie-1 {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  margin:25px;
  background-image: url(/blog/images/Lunettes.jpg);
  background-size: cover;
  box-shadow: 5px 5px 5px grey;
  font-family: Nurom;
  text-align:center;
  font-weight: bold;
  font-size:20px;
  color:white;
  -webkit-text-stroke:1px;
  -webkit-text-stroke-color: #8D8D8D;
}
.categorie-2 {
  border: 1px solid #8D8D8D;
  border-radius: 5px;
  width: 250px;
  height: 150px;
  margin:25px;
  background-image: url(/blog/images/light.jpg);
  background-size: cover;
  box-shadow: 5px 5px 5px grey;
  font-family: Nurom;
  text-align:center;
  font-weight: bold;
  font-size:20px;
  color:white;
  -webkit-text-stroke:1px;
  -webkit-text-stroke-color: #8D8D8D;
}
.boutton-articles {
  padding-top:100px;
  display: block;
  text-align: center;
  color:#568BDE;
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
}
.boutton-articles:hover {
  text-shadow: 1px 1px 1px black;
}
